@using MessageSlips.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Message";
}
<!--<head>
    <!--import Foundation 5
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>-->
<body>
    <div class="row">
        <div class="large-3 columns"><h1></h1></div>
        <div class="large-6 columns radius panel">
            <h6 class="text-center subheader" id="textstyle">Create New Message Slip</h6>
            <!--Create a message - HomeController - NewMessage-->
            @using (Html.BeginForm("NewMessage", "Home", FormMethod.Post))
            {
                MessageSlips.Models.MessageSlipsWSGEntities db = new MessageSlips.Models.MessageSlipsWSGEntities();
                    @Html.AntiForgeryToken()
                    <div class="large-12 columns">
                        <label id="textstyle">
                            From:<span style="color: red;">*</span>
                            <input type="text" name="mSender" placeholder="First, Last" required>
                        </label>
                        <label id="textstyle">
                            To:<span style="color: red;">*</span>
                            <select name="mReceiver" required>
                                @foreach (var user in db.Users)
                                {

                                    <option value="@user.userName">@user.firstName @user.lastName</option>

                                }
                            </select>
                        </label>
                        <label>
                            Categories:<span style="color: red;">*</span>
                            <select name="mCategories" required>
                                <optgroup label="Clients:">
                                    <option value="New Client">New Client</option>
                                    @using (Html.BeginForm("NewMessage", "Home", FormMethod.Post))
                                    {  
                                        foreach (var client in db.CurrentClients)
                                        {
                                            <option value="@client.clientName">@client.clientName</option>
                                        }
                                    }
                                </optgroup>
                                <optgroup label="Others:">
                                    <option value="Telemarketing">Telemarketing</option>
                                    <option value="Other">Other (Please specify in Other field below)</option>
                                    <option value="N/A">N/A</option>
                                </optgroup>
                            </select>
                        </label>
                        <label>
                            Date:<span style="color: red;">*</span>
                            <input type="date" name="mDate" placeholder="mm-dd-yyyy" required>
                        </label>
                        <label>
                            Time:<span style="color: red;">*</span>
                            <input type="time" name="mTime" required>
                        </label>
                        <label>
                            Phone (if applicable):
                            <input type="tel" name="mTel" placeholder="xxx-xxx-xxxx" maxlength="10">
                        </label>
                        <label>
                            Message:<span style="color: red;">*</span>
                            <textarea rows="4" name="mMessage" cols="50" placeholder="Please enter message" required></textarea>
                        </label>
                        <label>
                            Email (if applicable):
                            <input type="email" name="mEmail" placeholder="Please enter address" maxlength="50">
                        </label>
                        <label>
                            Other (if applicable):
                            <textarea rows="4" name="mOther" cols="40" placeholder="Please enter other info."></textarea>
                        </label>
                    </div>
                    <div class="large-3 small-8 columns small-centered">
                        <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Submit" />
                    </div>
            }
        </div>
        <div class="large-3 columns"><h1></h1></div>
    </div>
</body>