@using System.Data.Entity.Infrastructure
@using System.Web.Optimization
@using MessageSlips.Models
@model MessageSlips.Models.UsersViewModel
@{
    ViewBag.Title = "User Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Message Slips - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body>
@using (Html.BeginForm("Setting", "Home", FormMethod.Post))
{
    if (MessageSlips.Controllers.HomeController.CurrentAdmin == false)
    {
        <div class="row">
            <div class="large-3 columns"><br/></div>
            <div class="large-6 columns radius panel text-center">
                <h6 id="textstyle">Sorry, you have to be an admin in order to access this function!</h6>
            </div>
            <div class="large-3 columns"><br/></div>
        </div>
    }
    else if (MessageSlips.Controllers.HomeController.CurrentAdmin == true)
    {
        <div class="row">
            <div class="large-12 columns">
                <div class="large-5 columns">
                    <div class="radius panel">
                        <h6 class="text-center subheader" id="textstyle">Delete a User</h6>
                        @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
                        {
                            MessageSlips.Models.MessageSlipsWSGEntities db = new MessageSlips.Models.MessageSlipsWSGEntities();
                            <select name="users" size="1" style="background-color: whitesmoke">
                                @foreach (var user in db.Users)
                                {
                                    <option id="user" style="color: black" value="@user.userName">@user.userName</option>
                                }
                            </select>
                            <div class="large-6 small-8 columns small-centered">
                                <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Delete User" />
                            </div>
                        }
                    </div>
                    <div class="radius panel">
                        <h6 class="text-center subheader" id="textstyle">Set Admin</h6>
                        @using (Html.BeginForm("SetAdmin", "Home", FormMethod.Post))
                        {
                            MessageSlips.Models.MessageSlipsWSGEntities db = new MessageSlips.Models.MessageSlipsWSGEntities();
                            <select name="newAdminUser" size="1" style="background-color: whitesmoke">
                                @foreach (var user in db.Users)
                                {
                                    <option id="user" style="color: black" value="@user.userName">@user.userName</option>
                                }
                            </select>
                            <label id="textstyle">
                                Set this user as admin:
                                <input type="checkbox" value="true" name="setAdmin">
                            </label>
                            <div class="large-6 small-8 columns small-centered">
                                <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Set Admin" />
                            </div>
                        }
                    </div>
                </div>
                <div class="large-6 columns radius panel">
                    <h6 class="text-center subheader" id="textstyle">Enter required information below to create new user</h6>
                    @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
                    {
                        <label id="textstyle">
                            Username:<span style="color: red;">*</span>
                            <input type="text" name="newUsername" placeholder="Username" required>
                        </label>
                        <label id="textstyle">
                            Password:<span style="color: red;">*</span>
                            <input type="password" name="newPassword" placeholder="Password" required>
                        </label>
                        <label id="textstyle">
                            Confirmed password:<span style="color: red;">*</span>
                            <input type="password" name="confirmedNewPassword" placeholder="Confirmed Password" required>
                        </label>
                        <label id="textstyle">
                            Email:<span style="color: red;">*</span>
                            <input type="email" name="newEmail" placeholder="Email" required>
                        </label>
                        <label id="textstyle">
                            Admin:
                            <input type="checkbox" value="true" name="admin">
                        </label>
                        <label id="textstyle">
                            First Name:<span style="color: red;">*</span>
                            <input type="text" name="newFirstName" placeholder="First Name" required>
                        </label>
                        <label id="textstyle">
                            Last Name:<span style="color: red;">*</span>
                            <input type="text" name="newLastName" placeholder="Last Name" required>
                        </label>
                        <div class="large-4 small-8 columns small-centered">
                            <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Create User" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
</body>