@using System.Web.Optimization;
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body class="main-background">
    <div class="row top">
        <div class="large-10 columns">
            <div class="large-only-text-center">
                <h1 class="logo"><img src="~/Content/foundation-5/img/wsgh59i.png"></h1>
            </div>
        </div>
        <div class="large-2 columns large-text-center">
            <ul class="logo">
                <li>
                    <a class="small button expand round" id="textstyle" href="@Url.Content("~/Home/Index")">Sign out</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" id="navbar">
        <div class="icon-bar three-up radius">
            <a class="item" href="@Url.Content("~/Home/Dashboard")">
                <label id="textstyle">Dashboard</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/NewMessage")">
                <label id="textstyle">New Message</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/Setting")">
                <label id="textstyle">Setting</label>
            </a>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="large-12 columns">
                @RenderBody()
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="large-12 columns" id="footerborder">
            <footer>
                <p class="left" id="footertext">2015 &copy; Websmith Group</p>
            </footer>
        </div>
    </div>

</body>
</html>