@using System.Security.Policy
@using System.ServiceModel
@using System.Web.Optimization;
@using System.Web.UI.WebControls
@using MessageSlips.Controllers
@using MessageSlips.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <!--import Foudation 5-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body class="main-background">
    <div class="row">
        <div class="large-9 columns">
            <div class="large-only-text-center">
                <h1 class="logo"><img src="~/Content/foundation-5/img/wsgh59i.png"></h1>    <!--logo-->
            </div>
        </div>
        <div class="large-3 columns large-text-center">
            <ul class="logo">
                <li id="login">
                    <!--Sign out option-->
                    @using (Html.BeginForm("LogOff", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" id="login" class="button special round" style="font-family: 'Libre Baskerville', serif;" value="Sign out" />
                    }
                </li>
            </ul>
            <div><label style="color: white" id="textstyle">Hello @MessageSlips.Controllers.HomeController.CurrentUserName! </label></div>
        </div>
    </div>
    <!--Navigation bar, including 5 tabs-->
    <div class="row" id="navbar">
        <div class="icon-bar five-up radius">
            <a class="item" href="@Url.Content("~/Home/Dashboard")">
                <label id="textstyle">Dashboard</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/NewMessage")">
                <label id="textstyle">New Message</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/Setting")">
                <label id="textstyle">Add/Delete User</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/Client")">
                <label id="textstyle">Client Management</label>
            </a>
            <a class="item" href="@Url.Content("~/Home/UserSetting")">
                <label id="textstyle">Account Setting</label>
            </a>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="large-12 columns">
                @RenderBody()
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="large-12 columns" id="footerborder">
            <footer>
                <p class="left" id="footertext">2015 &copy; Websmith Group</p>
            </footer>
        </div>
    </div>

</body>
</html>